stages:
  - deploy

variables:
  PLUGIN_NAME: PeerTube
  ICON_FILE: peertube.png
  SCRIPT_FILE: PeerTubeScript.js 
  CONFIG_FILE: PeerTubeConfig.js

deploy-master:
  stage: deploy
  variables:
    PRE_RELEASE: "false"
  script:
    - sh deploy.sh
  only:
    - master

deploy-dev:
  stage: deploy
  variables:
    PRE_RELEASE: "true"
  script:
    - sh deploy.sh
  only:
    - dev
